<!DOCTYPE html>
<html>

<head>
  <title>Hola</title>



  <link rel="stylesheet" href="/cs50w-project0/static/styles.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>



</head>




<nav class="navbar navbar-expand-lg navbar-dark bg-propio">
  <div class="zoom">
    <a href="index.html">
    <img src="/cs50w-project0/static/img/z.jpg" height="15%" width="15%">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="pag.html" >Top Shounen <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="pag2.html">Top Shoujo</a>
      <a class="nav-item nav-link active" href="pag3.html">Top Seinen</a>
    </div>
  </div>
</nav>


<div class="container-sm mt-3" style="border:ridge 5px white;">

  <div class="wrapper">

    <strong>
      <h1 class="centro"> El Anime </h1>
    </strong>

    <br>
    <br>
  
  
    <center>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDqFLhGq0060w&index=7">click</a>
 
    </center>
   
      
 
    
      
    
      <img class="imagen2" src="/cs50w-project0/static/img/anime-.jpg" height="350px">

     
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    



    <strong>
      <br>
      <h3 class="titulo">¿Qué es exactamente el anime?</h3>
    </strong>
    <br>
    
    <div class="container-sm">

      <div class="row" id="parrafo" class="example">
        <div class="col-lg-8 col-sm-12">

          <p>
            Conceptualmente hablando, anime es un cómic o una animación japonesa muy parecida a un
            manga pero en movimiento. En otras palabras, un <a href="https://es.wikipedia.org/wiki/Manga"
              target=" _blank">manga</a> animado
            .Si atendemos al significado literal de la palabra anime, quiere decir «animado o vivo», y aunque mucha gente
            piensa
            lo contrario, no es japonesa. Sus orígenes son franceses.<br><br>
            Inicialmente se conoció como “Japanese animation”. Posteriormente cambio a la palabra “Japanimation” y
            finalmente,
            una vez el género pasó al «mainstream» en los años <strong></strong>80 </strong>y<strong> 90</strong>, terminó
            por
            conocerse como “Anime”, palabra que se mantiene en la actualidad.<br><br>
            El anime comenzó basándose en un sistema tradicional de dibujos sobre <a
            href="https://es.wikipedia.org/wiki/Celuloide" target=" _blank">celuloide</a>
            que ha evolucionado al terreno digital en las últimas décadas.
            A las propias técnicas de dibujo y animación, se les une un inteligente manejo de los personajes amparado en
            tramas y temas de lo más diversos.

          </p>
        </div>
      <div class="col-lg-4 col-sm-12 imagen1 text-center">


        <img src="/cs50w-project0/static/img/goku4.jpg" height="350px"> <br>

      </div>
    </div>
    </div>





    <br>
    <br>




    <strong>
    <h3 class="titulo"> ¿Dónde y cómo surgió el anime? </h3>
    </strong>
    
      


    <br>

    <div id="parrafo" class="example">
    <p>
      La historia del anime tiene sus orígenes en el año <strong> 1910</strong> del pais nipón, siendo por aquel
      entonces una forma de arte
      o expresión cultural, con pequeñas animaciones con el fin de entretener a la población infantil.
      Posteriormente en el año <strong>1917</strong>, con la llegada de la industrialización a Japón, los anime
      comenzaron
      a convertirse en pequeños cortometrajes. Así, el primer cortometraje que podría considerarse un anime,
      duraba tan solo 4 minutos y llevaba por nombre <a href="https://es.wikipedia.org/wiki/Namakura_Gatana"
      target=" _blank">“Namakura Gatana”</a>.
      
      <br>
      <br>
    
    </p>
  </div>   
        <img class="imagen2" src="/cs50w-project0/static/img/origen.jpg" height="350px">
      
      <br>
      <br>
      
      <div id="parrafo" class="example">
      <p>
        Más adelante, estos cortometrajes fueron evolucionando tanto en extensión como en calidad, pero no fue hasta el
        año <strong> 1957</strong>,
        cuando una empresa productora cinematográfica de nombre Estudios Toei, lanzó su primera producción dirigida al
        público comercial,
        la cual llevaba por nombre <strong>“Koneko No Rakugaki”</strong>. Aquí podemos verlo en vídeo:
        
      <br>
      <br>
     
      </p>
    </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AFpCewq8dcI" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen></iframe>

      
      <div id="parrafo" class="example">
      <p>

      <br>
      <br>
      <br>
      
        A partir de <strong> 1958</strong>, comenzaron a prepararse producciones de mayor envergadura pero no fue hasta
        finales de la <strong> década de los 60</strong>,
        cuando verdaderamente se hicieron presentes los anime con características similares a las que conocemos en la
        actualidad.
        No solo se trataba de la calidad de los dibujos, sino también de las tramas y conflictos vividos por los
        personajes en las
        historias. Así, dentro de estas producciones podemos destacar <a
          href="https://animanga.fandom.com/es/wiki/Calimero" target=" _blank">Calimero</a>,
        <a href="https://en.wikipedia.org/wiki/Tiger_Mask" target=" _blank">Tiger Mask</a> o <a
          href="https://es.wikipedia.org/wiki/Dororo#Personajes" target=" _blank">Dororo</a>.
        
        <br>
        <br>
        <br>
    </p>
  </div>


      <img class="imagen2" src="/cs50w-project0/static/img/origenn.jpg" height="380px">
      
      <br>
      <br>
      <br>
      
    
    <div id="parrafo" class="example">
    <p>
      A partir de la década de los<strong> 60</strong>, irrumpe con mucha fuerza en el mercado de la animación quien
      sería
      conocido como «el dios de la manga y el anime,» el escritor, dibujante y productor Osamu Tezuka, quien
      fue el creador de la mítica serie “Tetsuwan Atomu” que se dio a conocer en el mundo entero como
      <a href="https://es.wikipedia.org/wiki/Astroboy" target=" _blank">“Astroboy”</a>.
      
      <br>
      <br>
      <br>
    
    </p>
    </div>
      <img class="imagen2" src="/cs50w-project0/static/img/astro.jpg" height="300px">
      
      <br>
      <br>
      <br>
    <div id="parrafo" class="example">
    <p>
      Al inicio de la <strong> década de los 70</strong>, algunos estudios cinematográficos
      utilizaron como referencia historias del anime para crear personajes y
      películas que fueron llevadas no solo al público japonés, sino también al
      occidental, como por ejemplo Godzilla. Una práctica de éxito que sirvió para popularizar el anime,
      todavía más, entre el público japonés.
      Esta tendencia se consolidaría con nuevos géneros y tendencias del anime que surgieron a lo largo de
      los años<strong> 80</strong>, como por ejemplo, el de los anime de robots o los anime orientados al público
      femenino, con
      temáticas románticas similares a las telenovelas. Encontramos aquí animes como 
      <a href="https://es.wikipedia.org/wiki/Heidi_(anime)" target=" _blank">Heidi</a>,
      
      <a href="https://dulce-candy.fandom.com/es/wiki/Candy_Candy" target=" _blank">Candy Candy</a> o 
      
      <a href="https://es.wikipedia.org/wiki/Mazinger_Z" target=" _blank">Mazinger Z</a>.
      
      <br>
      <br>
      <br>
    </p>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col-xl-6">
          <img class="imagen3" src="/cs50w-project0/static/img/heidi.jpg" height="350px">
        </div>
        <div class="col-xl-6">
          <img class="imagen3" src="/cs50w-project0/static/img/candyy.jpg" height="350px">
        </div>
      </div>
      
        
      </div>
    </div>
    












    <br>
    <br>
    <br>
  
  <div id="parrafo" class="example">
  <p>
    Así, se crearía el caldo de cultivo perfecto para que a principios de los años <strong>90 </strong>el anime
    sufriera una explosión
    internacional, y gran cantidad de estudios cinematográficos, comenzaron a desarrollar los anime como una fuente de
    entretenimiento masivo más.
    Esta sería la época más dulce para el anime, cuando se globalizó del todo, llevando a lo más alto a grandes
    corporaciones niponas como <strong> Bandai</strong> o <strong> Studio Ghibli</strong>.
    Destacan aquí animes como <strong> Neon Genesis Evangelion, Cowboy Bebop, Sailor Moon o Pokémon</strong>.
    <br><br>
    En la actualidad este género, ha influido incluso hasta al mismo Hollywood, que ha llevado a la gran pantalla
    versiones de algunos
    animes que siguen siendo muy famosos, como por ejemplo,<a href="https://es.wikipedia.org/wiki/Death_Note"
      target=" _blank">Death Note</a>.
    <br>
    <br>
    <br>
  </p>
   </div> 
  
    <center>
      <img src="/cs50w-project0/static/img/death.jpg" height="25%" width="25%">
    </center>
    
    <br>
    <br>
    <br>
    
    
    <h3 class="titulo">Características principales del anime.</h3>
    <br>
    <br>
    <br>
    
    <ul>
      <li>
        <h5>Trama</h5>
      </li>
      <div id="parrafo" class="example">
      <p> Dentro de las características notables en el género, se destaca el desarrollo de tramas
        complejas a lo largo de un cierto número de episodios. Gran parte del anime está estructurado en
        series de televisión con números de episodios definidos.
      </p>
      </div>
      <li>
        <h5>Romanticismo</h5>
      </li>
      <div id="parrafo" class="example">
      <p>Basándose en elementos de la fantasía y de la realidad, también se toman en cuenta
        las relaciones que tienen los personajes, como amigos o familiares. La mayor parte de las
        series de anime y mangas pueden tener algún. 
      </p>
      </div>
      <li>
        <h5>Referencias cuturales</h5>
      </li>
      <div id="parrafo" class="example">
      <p>
        Este género es una mezcla principalmente de las culturas japonesa y occidental. Del género occidental
        rescata algunos rasgos de los personajes, presentación en capítulos y técnicas de animación, entre otras
        cosas. A esto le añade conceptos tradicionales japoneses como el énfasis en la vida cotidiana y el estilo
        tradicional de dibujo japonés modernizado.
      </p>
      </div>
    
    </ul>
    
    <br>
    <br>

    <h3 class="titulo">Generos principales del anime.</h3>
    
    <br>
    <br>
    <br>

    <ul>

      <li>
        <h5>Shounen</h5>
      </li>
      <div id="parrafo" class="example">
      <p>
        Este tipo de anime está dirigido a adolescentes y jóvenes, es por ello que en japonés Shonen
        significa chico. Es el género de anime más popular con diferencia.

        La historia generalmente se centra en el desarrollo y el viaje del héroe, que en este caso es un hombre.
        
        <br>
        <br>
        
               
        <strong>Naruto, Dragon Ball, Los Caballeros del Zodiaco, Bleach y One Piece </strong>son algunos de los animes shounen más
        conocidos.
        <br>
        <br>
        <br>
        
      </p> 
      </div>
      <img class="imagen2" src="/cs50w-project0/static/img/shonen.jpg" alt="Imagen referente al anime shounen" height="320px">

      
      <br>
      <br>
      <br>

      <li>
       <h5>Shoujo</h5>
      </li>
      <div id="parrafo" class="example">
      <p>
        Significa "niña" en su traducción más literal. El anime shoujo también está dirigido a jóvenes, pero
        principalmente a mujeres.
        La trama de la serie generalmente presenta a una niña como protagonista, siendo las historias más centradas en
        dramas, novelas y
        otros eventos que marcan el desarrollo de la mujer.
        <br><br>
        Animes muy populares en este género son: <strong>Sakura Card Captor, Candy Candy y Ouran High School Host Club.</strong> 
        <br>
        <br>
        <br>
      </p>
      </div>
      
      <img class="imagen2" src="/cs50w-project0/static/img/shoujo.jpg" alt="Imagen referente al anime shoujo" height="320px">
        
        <br>
        <br>
        <br>
     

      <li>
        <h5>Seinen</h5>
      </li>
      <div id="parrafo" class="example">
      <p>
          Los seinen están destinados a hombres y contienen temas complejos que no serían apropiados para las personas más
          jóvenes.
          El contenido erótico y las escenas violentas también forman parte de las producciones de seinen.
          <br>
          <br>


          <strong> One Punch Man, Berserk, Ghost in the Shell, Tokyo Ghoul y Akira</strong> son algunos ejemplos famosos del anime seinen.
          <br>
          <br>
          <br>
        
       </p>
        </div>
        
        <img class="imagen2" src="/cs50w-project0/static/img/seinen.jpj.jpg" alt="Imagen referente al anime seinen" height="500px">
          
        <br>
        <br>
        <br>
      

      <li>
          <h5>josei</h5>
      </li>
      
      <div id="parrafo" class="example">
      <p>
        Al igual que seinen, este tipo de anime está hecho para un público adulto pero femenino. En resumen, Josei
        representa la maduración del shoujo,
        presentando problemas comunes de la vida cotidiana de las mujeres desde un punto de vista realista.
        <br>
        <br>
        
        Ejemplos de Josei: <strong>Chihayafuru, Nodame Cantabile. Paradise Kiss, Nana y Usagi Drop.</strong> 
        
        <br>
        <br>
        <br>
        
      </p>
      </div>
      <img class="imagen2" src="/cs50w-project0/static/img/josei.jpg" alt="Imagen referente al anime josei" height="320px">
        
      <br>
      <br>
      <br>
      
     
     
        <li>
          <h5>Komodo</h5>
        </li>
      <div id="parrafo" class="example">
      <p>
        Estos son animes hechos con enfoque en audiencias infantiles, como su nombre indica, especialmente entre los 4 y
        10 años.
        
        
        
        Las historias transmiten lecciones importantes a las personas más jóvenes, como respetar a las personas mayores,
        valores fraternos y familiares,
        que son comunes en este tipo de anime.
        
        <br>
        <br>
        
        <strong>Hamtaro, Pokémon, Beyblade, Doraemon y Heidi</strong> son algunos de los títulos de anime más populares del género
        kodomo.
        
        <br>
        <br>
        <br>
        
      </p>
      </div>
      <img class="imagen2" src="/cs50w-project0/static/img/komodo.jpg" alt="Imagen referente al anime komodo" height="500px">
     

    </ul>
   

  </div>


</div>

<footer class="footer">

  <a href="pag4.html">¿Cuales son los estudios de anime más relevantes de la actualidad?</a>

  <p style="color: blue;">cs50w-project0</p>
</footer>

</body>

</html>