<!DOCTYPE html>
<html>
    <head>
        <title>Hola</title>
  
        
  
        <link rel="stylesheet" href="/cs50w-project0/static/styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  
    </head>
    <body>
    
      
      
      
        <nav class="navbar navbar-dark bg-dark">
          
          
        <nav class="navbar navbar-expand-lg navbar-red bg-red">
            <a class="navbar-brand" href="pag2.html">Top shounen</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="pag.html">Top shojo <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pag3.html">Top gore</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Top moe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <img id="gif2"src="/cs50w-project0/static/img/z.jpg" height="4%" width="4%">
            </div>
        </nav>
        </nav>
        
       
          
        <div class="container-sm mt-3" style="border: solid 1px;">
          
          <div class="wrapper">
          
            <strong><h1 id="titulo"> El Anime </h1></strong> 
         
            
           
           
    
       <img id="gif" src="/cs50w-project0/static/img/love.gif" height="10%" width="10%">
    <center>
     
      <img class ="imagen"src="/cs50w-project0/static/img/anime-.jpg" height="40%" width="40%">
      
       <p id="centro">jhuhubu</p>
        <br><br><br><br><br><br>
      </center>
       
    
   
      <strong>
        <br><h3 id="titulo1" >¿Qué es exactamente el anime?</h3>
      </strong>
      <br>
      <p id="parrafo">
          <img class= "imagen1" src="/cs50w-project0/static/img/goku4.jpg"   height="20%" width="25%" > <br>
         
          Conceptualmente hablando, anime es un cómic o una animación japonesa muy parecida a un 
          manga pero en movimiento. En otras palabras, un <a href="https://es.wikipedia.org/wiki/Manga"target=" _blank">manga</a> animado
          .Si atendemos al significado literal de la palabra anime, quiere decir «animado o vivo», y  aunque mucha gente piensa 
          lo contrario, no es japonesa. Sus orígenes son franceses.<br><br>
          Inicialmente se conoció como “Japanese animation”. Posteriormente cambio a la palabra “Japanimation” y finalmente, 
          una vez el género pasó al «mainstream» en los años 80 y 90, terminó por conocerse como “Anime”, palabra que se mantiene en la actualidad.<br><br>
          El anime comenzó basándose en un sistema tradicional de dibujos sobre <a href="https://es.wikipedia.org/wiki/Celuloide"target=" _blank">celuloide</a> 
          que ha evolucionado al terreno digital en las últimas décadas.
           A las propias técnicas de dibujo y animación, se les une un inteligente manejo de los personajes amparado en tramas y temas de lo más diversos. 
       
        </p>    
        <br>
        <br>
        
    
        
        
        <strong><h3 id="titulo2"> ¿Dónde y cómo surgió el género del anime? </h3></strong> 
        <br>
        
       <p id="parrafo2">
        La historia del anime tiene sus orígenes en el año 1910, siendo por aquel entonces una forma de arte
        o expresión cultural, con pequeñas animaciones con el fin de entretener a la población infantil.
        Posteriormente en el año 1917, con la llegada de la industrialización a Japón, los anime comenzaron 
        a convertirse en pequeños cortometrajes. Así, el primer cortometraje que podría considerarse un anime,
         duraba tan solo 4 minutos y llevaba por nombre <a href="https://es.wikipedia.org/wiki/Namakura_Gatana"target=" _blank">“Namakura Gatana”</a>.<br><br>
        <img class = "imagen2" src="/cs50w-project0/static/img/origen.jpg"  height="30%" width="30%">
        <br><br>
        Más adelante, estos cortometrajes fueron evolucionando tanto en extensión como en calidad, pero no fue hasta el año 1957, 
        cuando una empresa productora cinematográfica de nombre Estudios Toei, lanzó su primera producción dirigida al público comercial, 
        la cual llevaba por nombre <strong>“Koneko No Rakugaki”</strong>. Aquí podemos verlo en vídeo:
        <br><br>
    
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AFpCewq8dcI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <br><br><br>
     A partir de 1958, comenzaron a prepararse producciones de mayor envergadura pero no fue hasta finales de la década de los 60, 
     cuando verdaderamente se hicieron presentes los anime con características similares a las que conocemos en la actualidad.
     No solo se trataba de la calidad de los dibujos, sino también de las tramas y conflictos vividos por los personajes en las 
     historias. Así, dentro de estas producciones podemos destacar <a href="https://animanga.fandom.com/es/wiki/Calimero"target=" _blank">Calimero</a>,
     <a href="https://en.wikipedia.org/wiki/Tiger_Mask"target=" _blank">Tiger Mask</a> o <a href="https://es.wikipedia.org/wiki/Dororo#Personajes"target=" _blank">Dororo</a>.
        <br><br><br>
    
    
     
      
        <img class = "imagen3"src="/cs50w-project0/static/img/origenn.jpg"  height="15%" width="30%">
       <br><br><br>
        A partir de la década de los 60, irrumpe con mucha fuerza en el mercado de la animación quien sería 
        conocido como «el dios de la manga y el anime,» el escritor, dibujante y productor Osamu Tezuka, quien 
        fue el creador de la mítica serie “Tetsuwan Atomu” que se dio a conocer en el mundo entero como 
        <a href="https://es.wikipedia.org/wiki/Astroboy"target=" _blank">“Astroboy”</a>.
        <br><br><br>
        <img class ="imagen4"src="/cs50w-project0/static/img/astro.jpg"  width="45%" height="45%">
        <br><br><br>
        Al inicio de la década de los 70, algunos estudios cinematográficos 
        utilizaron como referencia historias del anime para crear personajes y 
        películas que fueron llevadas no solo al público japonés, sino también al 
        occidental, como por ejemplo Godzilla. Una práctica de éxito que sirvió para popularizar el anime, 
        todavía más, entre el público japonés.
        Esta tendencia se consolidaría con nuevos géneros y tendencias del anime que surgieron a lo largo de 
        los años 80, como por ejemplo, el de los anime de robots o los anime orientados al público femenino, con 
        temáticas románticas similares a las telenovelas. Encontramos aquí animes como <a href="https://es.wikipedia.org/wiki/Heidi_(anime)"target=" _blank">Heidi</a>,
        <a href="https://dulce-candy.fandom.com/es/wiki/Candy_Candy"target=" _blank">Candy Candy</a> o <a href="https://es.wikipedia.org/wiki/Mazinger_Z"target=" _blank">Mazinger Z</a>.
        <br><br><br>

        <img class="imagen5" src="/cs50w-project0/static/img/heidi.jpg" height="20%" width="20%">
        
        <img class="imagen6" src="/cs50w-project0/static/img/candy.jpg" width="20%" height="20%">
        <img class="imagen7" src="/cs50w-project0/static/img/manziger.jpg" aling="right" height="20%" width="20%">
       
        Así, se crearía el caldo de cultivo perfecto para que a principios de los años 90 el anime sufriera una explosión 
        internacional, y gran cantidad de estudios cinematográficos, comenzaron a desarrollar los anime como una fuente de entretenimiento masivo más.
        Esta sería la época más dulce para el anime, cuando se globalizó del todo, llevando a lo más alto a grandes corporaciones niponas como Bandai o Studio Ghibli. 
        Destacan aquí animes como Neon Genesis Evangelion, Cowboy Bebop, Sailor Moon o Pokémon.
        <br><br>
        En la actualidad este género, ha influido incluso hasta al mismo Hollywood, que ha llevado a la gran pantalla versiones de algunos 
        animes que siguen siendo muy famosos, como por ejemplo, Death Note.
      </p>
    
    </div>
  
        </div>

        <footer class="footer">

        </footer>

      </body>

    </html>
