<!DOCTYPE html>
<html>

<head>

  <title>Hola HTML</title>

  <link rel="stylesheet" href="/cs50w-project0/static/styles.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-propio">
    <div class="zoom">
      <a href="index.html">
        <img src="/cs50w-project0/static/img/z.jpg" height="15%" width="15%">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="pag.html">Top Shounen <span
            class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="pag2.html"></a>
        <a class="nav-item nav-link" href="pag3.html">Top Seinen</a>
      </div>
    </div>
  </nav>


  <div class="container-sm mt-3" style="border:ridge 5px white;">


    <div class="wrapper">


      <h1 class="centro">Mejores anime Shoujo</h1>
      <br>
      <br>
      <br>
      <br>
      
      <img id="gif"src="/cs50w-project0/static/img/love.gif" alt="gif" height="350px">
      
      <br>
      <br>
      <br>
      <br>
      <br>
      
      
      <ul>

        <li>
          <h5>Tonari no Kaibutsu-kun</h5>
        </li>

       
        
        <p id="parrafo">
          Shizuku es una niña centrada en sus deberes escolares de tal manera, que tiene una visión
          fría de la vida. Cuando comienza a tomarle las notas a Haru, un colega que dejó la escuela
          después de una pelea, la chica comienza a ver su vida más allá de la rutina estéril en la que
          vive.
          <br>
          <br>
           <strong> Shizuku y Haru son dos personajes que saben muy poco sobre la interacción humana y la fuerza
          de Tonari no Kaibutsu-kun</strong>(también conocida como My Little Monster) radica en cómo ambos intentan
          aprender a dominar sus emociones.

        </p>
        <br>
        <br>
        <br>

        <img class="imagen2" src="/cs50w-project0/static/img/tonari.gif" alt="Imagen referente de Tonari" height="350px">

        <br>
        <br>
        <br>
        
        <li>
          <h5>Ao Haru Ride</h5>
        </li>

       
        <p id="parrafo">
          Futaba Yoshioka siempre ha llamado la atención de los niños y, por lo tanto, fue dejada de
          lado por sus compañeras de clase en la escuela secundaria. Ahora, en una
          escuela nueva, la niña decide cambiar su actitud por completo,
          convirtiéndose en una tomboy de apetito voraz y pisoteando los pies mientras camina.
        <br>
        <br>
          Sin embargo, sus planes se complican cuando se encuentra con Tanaka, un chico de su antigua
          escuela secundaria de quien está enamorada.<strong> Ao Haru Ride es un viaje al centro de las turbulentas
          emociones adolescentes</strong>. Con cada episodio que pasa, el público se apega cada vez más a los personajes
          y sus luchas internas.
        <br>
        <br>
        <br>
        </p>

        <img class="imagen2" src="/cs50w-project0/static/img/au.gif" alt="Imagen referente de Ao Haru Ride" height="330px" width="620px">


        <br>
        <br>
        <br>

        <li>
          <h5>Kaicho wa Maid Sama!</h5>
        </li>

       
        <p id="parrafo">
          Ser la primera presidenta mujer del consejo estudiantil no es fácil, especialmente cuando tu
          escuela acaba de pasar de una escuela secundaria para niños, a una mixta. Misaki Ayuzawa, apodada
          acertadamente <strong> "La presidenta demonio"</strong> por los chicos, por su estricto estilo disciplinario, no teme usar
          su dominio de las técnicas de Aikido para juzgar a las hordas de alumnos que se portan mal y defender a las
          niñas en la escuela secundaria Seika.

        <br>
        <br>
          Sin embargo, incluso la Ayuzawa perfecta tiene un secreto vergonzoso: trabaja a tiempo parcial como empleada
          doméstica en un maid cafe para ayudar a su familia en dificultades a pagar las cuentas. Se las arregló para
          mantener su trabajo oculto a sus compañeros y mantuvo su imagen impecable como estudiante estelar hasta que un
          día, Takumi Usui, el chico más popular de la escuela, entra en el café. Podría destruir su reputación con su
          secreto, o también podría aprovechar esta información para acercarse a ella.
        <br>
        <br>
        <br>
        </p>

        <img class="imagen2" src="/cs50w-project0/static/img/kaicho.gif" alt="Imagen referente de Kaicho wa Maid Sama!" height="360px">
      </ul>








    </div>

  </div>

  <footer class="footer">
    <a href="pag4.html">¿Cuales son los estudios de anime más relevantes de la actualidad?</a>
  </footer>

</body>

</html>