$mycolor:black;
$myborder:1px solid;


p{
text-align: justify;

}

.centro
{
text-align: center;

  border-bottom: groove rgb(238, 232, 232);
}

.titulo 
{
  margin-left: 20px;
  border-left: groove #1E90FF;
  border-bottom: groove #1E90FF;
}


 .imagen{
   
   border: $myborder; 
   color: $mycolor;

  }
.imagen1 img{
   @extend .imagen;
   margin-right: 10px;
   margin-left: 20px;
  
}
.imagen2{
   @extend .imagen;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.imagen3{  
@extend .imagen; 

}


*#parrafo
 {
   margin-left: 25px;
   margin-right: 10px;

  }
 
 #gif
{
   display: block;
   margin-left: auto;
   margin-right: auto;
}



.wrapper {
  min-height: calc(100% - 4rem);
}
.footer {
  height: 4rem;
  background-color: #343a40!important;
}
iframe
{
display: block;
margin-left: auto;
margin-right: auto;
}

p a
{
  color:rgb(197, 6, 16);
 
}

div.example {

  padding: 20px;
}

@media screen and (min-width: 600px) {
  div.example {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 50px;
  }
}

#tabla {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabla td, #tabla th {
  border: 1px solid #ddd;
  padding: 8px;
}


#tabla th {
  border: 1px solid #ddd;
  padding: 8px;
}


#tabla tr:nth-child(even){
  background-color: #f2f2f2;}

#tabla tr:hover {
  background-color: #ddd;
}

#tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0695ce;
  color: white;
}
* {
  box-sizing: border-box;
}

.zoom{
  img
  {
  padding: 5px;
  transition: transform .1s;
  margin: 5px;
  }
  img:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
  }

} 


.bg-propio
{
  background-color: #343a40!important;
 
}
