p{
text-align: justify;

}

#anime
{
text-align: center;
}


#centro

{
text-align: center;

}
.titulo 
{
   margin-left: 20px;
   border:groove;
  }
 .titulo1 
 {
  @extend .titulo;
}

.titulo2
 {
 @extend .titulo;
}

.titulo3 
{
 @extend .titulo;
}


 .imagen{
   
   border: 1px solid; 
   color: black;
}
.imagen1{
   @extend .imagen;
   margin-right: 10px;
   margin-left: 20px;
   float: right;
}
.imagen2{
   @extend .imagen;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.imagen3{  
@extend .imagen2; 
  
}
.imagen4{  
  @extend .imagen2; 
    
}
.imagen5{  
@extend .imagen; 
}
.imagen6{  
@extend .imagen; 
margin-right: -1px;
margin-left: 150px;
      }
.imagen7{  
@extend .imagen; 
margin-left: 210px;
        }

.imagen8{
@extend .imagen2;

}
.imagen9{
@extend .imagen2;

}

.imagen10{
@extend .imagen2;
;
}
.imagen11{
@extend .imagen2;

}
.imagen12{
@extend .imagen2;

}

*#parrafo
 {
   margin-left: 25px;
   margin-right: 10px;

  }
 
 #gif
{
  margin-right: 100%;
}

.wrapper {
  min-height: calc(100% - 4rem);
}
.footer {
  height: 4rem;
  background-color: #363535
}
iframe
{
display: block;
margin-left: auto;
margin-right: auto;
}

a[href]{
  color:rgb(23, 192, 17);
 
}
